@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin-right: 50px;
}

.group-1 .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #EE7743;
    border-radius: 4px;
    color: #ffffff;
}

.group-1 .icon-2 {
    background-color: #4555A0;
}

.group-1 .icon-3 {
    background-color: #4555A0;
}

.group-1 .icon p {
    margin: 0;
}

.group-1 .icon .line1 {
    font-size: 20pt;
    font-family: "Noto Sans JP", sans-serif;
}

.group-1 .icon .line2 {
    font-size: 20pt;
    font-family: "Noto Sans JP", sans-serif;
}

.group-1 .icon .line3 {
    font-size: 25pt;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
}

.group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-width: 200px;
    grid-gap: 2px;
    margin-left: 50px;
}

.group-2 .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    background-color: #B6A292;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
}

.group-2 .icon-5 {
    background-color: #B63C7E;
}

.group-2 .icon-6 {
    background-color: #EB458F;
}

.group-2 .icon-7 {
    background-color: #EB458F;
}

.group-2 .icon p:first-child {
    font-size: 13pt;
    margin-top: 0;
}

.group-2 .icon p:last-child {
    font-size: 13pt;
    margin-top: 0;
}

.group-2 .icon p {
    margin-top: 5px;
    font-weight: normal;
    display: inline-block;
    line-height: 1.2;
}



.group-2 .icon-4 p {
    margin-top: 5px;
}

.group-2 .icon-5 p {
    margin-top: 5px;
}

.group-2 .icon-6 p {
    margin-top: 5px;
}

.group-2 .icon-7 p {
    margin-top: 5px;
}

/*これ以下を追加。other idの既存のpタグをクラスセレクタ*/

  /* explain1 */
.content_area p.explain1 {
    font-size: 28px;
    margin: 0 auto;
    line-height: 200%;
    width: 870px;
  }
  
  /* explain2 */
  .content_area p.explain2 {
    font-size: 28px;
    margin: 0 auto;
    line-height: 200%;
    width: 870px;
  }
  
  /* explain3 */
  .content_area p.explain3 {
    font-size: 28px;
    margin: 0 auto;
    line-height: 200%;
    width: 870px;
  }
  
  /* explain4 */
  .content_area p.explain4 {
    font-size: 28px;
    margin: 0 auto;
    line-height: 200%;
    width: 870px;
  }